@charset "UTF-8";

img[alt="lillian"] {
	width: 250px;
	height: auto;
	border: black solid 5px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: monospace;

	background: #0073AA;
	transition: background 2s ease;

	/*height: 3200px; !* Used to enable scrolling *!*/
	/*background: linear-gradient(55deg, white 0%, olivedrab 51%, #0073AA 85%);*/
}

/*color changing on scroll*/
.slide{
	padding-top: 20em;
}

.slide .inside {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0 3em;
}

/*end of bgColorChange */

.main-heading {
	color: black;
	/*box-sizing: border-box;*/
	min-height: 100vh;
	display: block;
	overflow: auto;
}

.creator {
	padding-top: 170px;
}

.creator-txt {
	color: #0073AA;
	text-shadow: -1px 1px 0 white,
	1px 1px 0 white,
	1px -1px 0 white;
	/*-1px -1px 0 white;*/
	/*font-weight: bolder;*/
	font-size: 75px;
}

.nav-name {
	color: black;
	font-size: 24px;
	padding: 1em;
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	color: darkmagenta;

}

.about-me-txt {
	font-size: 24px;
	writing-mode: vertical-lr;
}

.about-me-line {
	writing-mode: vertical-lr;
	font-weight: bolder;
	font-size: 12px;
	color: white;
}

.about-me-para {
	padding-top: 20px;
	text-align: justify;
}

.about-me {
	font-size: 16px;
	/*box-sizing: border-box;*/
	min-height: 100vh;
	display: block;
	overflow: auto;
}

.floating-txt {
	font-size: 40px;
}

.stuff-i-made {

	/*box-sizing: border-box;*/
	min-height: 100vh;
	display: block;
	overflow: auto;
}

.pwp-contact-form {
	/*box-sizing: border-box;*/
	min-height: 100vh;
	display: block;
	overflow: auto;
}

.card {
	border: none;
	background: transparent;
}

