
img[alt="lillian"] {
	width: 250px;
	height: auto;
	border: black solid 5px;
}

body {
	background-color: olive;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.card {
	background: transparent;
}
/*.section1, {*/
/*	background-color: transparent;*/
/*}*/

.contact-form {
	float: right;
	background-color: deeppink;
}